# Rust
/target/
Cargo.lock

# Tests
tarpaulin-report.html
cobertura.xml
benchmark.md
hyperfine_*.deb

# Python
.venv
*.pyc

# JS
node_modules/
pkg*/
package-lock.json
*.lock
js/LICENSE

# Docs
/theme/
mdbook-admonish.css

# Build process
.github/workflows/manylinux_build_script.sh
.github/workflows/musllinux_build_script.sh
